
<launch>
  <arg name="tracking_mode" default="press"/>
  <arg name="sim" default="true"/>

  <group ns="gamepad">
    <node pkg="joy" type="joy_node" name="gamepad_joy">
    </node>
  </group>

  <node pkg="joy_teleop" type="gamepad_teleop.py" name="gamepad_teleop" args="$(arg sim)">
  </node>

  <node pkg="joy_teleop" type="tiago_arm_gamepad_control.py" name="right_arm_gamepad_control" args="right $(arg sim)" >
  </node>


  <node pkg="joy_teleop" type="tiago_arm_gamepad_control.py" name="left_arm_gamepad_control" args="left $(arg sim)">
  </node>
  

  <group ns="torso_controller" if="$(arg sim)">
    <node pkg="joy_teleop" type="incrementer_server.py" name="torso_incrementer"/>
  </group>

  <rosparam command="load" file="$(find tiago_dual_bringup)/config/motions/tiago_motions_general.yaml" />


</launch>
