
<launch>
  <arg name="tracking_mode" default="press"/>
  <arg name="sim" default="true"/>


  <node pkg="joy_teleop" type="vive_teleop.py" name="vive_teleop" args="$(arg sim)">
  </node>

  <node pkg="joy_teleop" type="tiago_arm_position_control.py" name="right_arm_position_control" args="right $(arg sim)" >
  </node>

  <node pkg="joy_teleop" type="vive_pose_mapping.py" name="vive_pose_mapping_right" output="screen" args="right $(arg tracking_mode)">

  </node>


  <node pkg="joy_teleop" type="tiago_arm_position_control.py" name="left_arm_position_control" args="left $(arg sim)">
  </node>

  <node pkg="joy_teleop" type="vive_pose_mapping.py" name="vive_pose_mapping_left" output="screen" args="left $(arg tracking_mode)">
  </node>
  

  <group ns="torso_controller" if="$(arg sim)">
    <node pkg="joy_teleop" type="incrementer_server.py" name="torso_incrementer"/>
  </group>


  <rosparam command="load" file="$(find tiago_dual_bringup)/config/motions/tiago_motions_general.yaml" />


</launch>
